a {text-decoration: none; color: #018BD3;}
a:visited {color: #018BD3;}
a:hover {color:#FF6600; text-decoration: underline;}
body {font-size: 10pt;color: #404040;font-family: SimSun;}
table {font-size: 10pt;margin-top: 15px;margin-left: 50px;width: 500px;}
td{height: 25px;}
.divBookName {font-size: 13pt; font-weight: 900; margin-bottom: 30px;}
.img_image_w {border: 1px solid #dcdcdc; float: left;}
.divBookDesc{float:left;}
.spanPrice {text-decoration:line-through;}
.hr1{margin-left: 50px; height: 1px; color: #dcdcdc;}
.price_n {color: #c30; font-weight: bold; padding-right: 10px; font-family: Arial; font-size: 20pt; }
ul {list-style: none;}
li {margin: 10px;}
#btn {background: url(/sshmaven/images/all.png) no-repeat;display: inline-block;background-position: 0 -70px;height: 36px;width: 146px;}
#btn:HOVER {background: url(/sshmaven/images/all.png) no-repeat;display: inline-block;background-position: 0 -106px;height: 36px;width: 146px;}
.divForm {border: 1px solid #dcdcdc;background-color: #f5f5f5;margin: 15 0 0 50; padding:20px;}