.bold {font-weight: 900;}
.divBody {
	background: url(/sshmaven/images/paginating_bg.png) repeat-x;
	border-top: 2px solid #FE7C2C;
	height: 35px;
	width: 100%;
	text-align: right;
}
.divContent {
	line-height: 35px;
	margin-right: 15px;
}
.spanBtnSelect {
	border: 1px solid #F75A00; 
	color: #FFFFFF;
	background-color: #FE7C2C; 
	text-align:center; 
	padding: 4px 8px 3px 8px;
	text-decoration: none;
}
.aBtn {
	border: 1px solid #c1c1c1; 
	text-align:center; 
	background-color: #FFFFFF; 
	color: #555555;
	padding: 4px 8px 3px 8px;
	text-decoration: none;
}
.spanBtnDisabled {
	border: 1px solid #c1c1c1;
	text-align:center; 
	background-color: #FFFFFF; 
	color: #c1c1c1;
	padding: 4px 8px 3px 8px;
	font-weight: 900;
}
.spanApostrophe {
	font-family: Arial;
}
.aBtn:HOVER {
	border: 1px solid #F75A00;
	background-color: #FE7C2C; 
	color: #FFFFFF;
}

.inputPagecode {
	border: 1px solid #c1c1c1;
	width: 25px;
	padding: 0px;
}
.aSubmit {
	border: 1px solid #c1c1c1;
	padding:1px 4px 1px 4px;
	color: #555555;
	text-decoration: none;
}
.aSubmit:HOVER {
	border: 1px solid #c1c1c1;
	padding:1px 4px 1px 4px;
	color: #555555;
	background: url(/goods/images/qd.png) repeat-x;
}
